.link {
  text-decoration: none;
  font-weight: 500;
  color: black;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  transition: transform 0.2s ease;
  transform: scaleX(0);
}

.link:hover::after {
  transform: scaleX(1);
}

.input-box {
  width: 100%;
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.input-box > label {
  position: absolute;
  top: 12px;
  left: 13px;
  color: var(--primary-dark);
  transition: all 0.2s ease-in;
  pointer-events: none;
  user-select: none;
}

.input-box > input[type=text],
.input-box > input[type=number],
.input-box > input[type=password] {
  outline: none;
  font-size: 20px;
  height: 54px;
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  background: var(--text-light);
  text-indent: 16px;
  max-width: 100%;
}

.input-box > input:is(:focus, :valid) + label {
  top: -9px;
  font-size: 12px;
  background: var(--primary-dark);
  color: var(--text-light);
  padding: 0 8px 2px;
  border-radius: 10px;
}

.input-box > .bx {
  font-size: 24px;
  color: white;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background: var(--primary-dark);
  border-radius: 5px;
  cursor: pointer;
}

.input-box > .bx-hide {
  display: none;
}

.action-button {
  border-radius: 5px;
  border: none;
  background: var(--primary-dark);
  color: white;
  font-size: 1em;
  padding-block: 12px;
  cursor: pointer;
}

.action-button:hover {
  background: var(--primary-dark-active);
}

.action-button:active {
  background: var(--primary-dark);
}

.input-switch {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.input-switch > input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 56px;
  height: 28px;
  border-radius: 14px;
  background: var(--primary-light);
  cursor: pointer;
}

.input-switch > input[type=checkbox]::after {
  position: absolute;
  content: '';
  background: var(--primary-dark);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: all 0.2s ease-in-out;
}

.input-switch > input[type=checkbox]:checked::after {
  left: 31px;
}

.input-switch > label {
  border-radius: 5px;
  padding: 0.2em 0.4em;
}

.input-switch > label.selected {
  background: var(--primary-dark);
  color: var(--text-light);
  transition: all 0.2s ease-in-out;
}

.input-select {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.input-select > select {
  border: 2px solid var(--primary-dark);
  appearance: none;
  outline: none;
  border-radius: 10px;
  padding: 0.4em 3em 0.4em 0.6em;
  background: var(--primary-light);
  font-size: 1em;
}

.input-select > .bx {
  position: absolute;
  right: 14px;
  top: 14px;
}
