@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800&display=swap');

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  --text-light: #F2F5F8;
  --background-light: #BAD7F3;
  --primary-light: #A8CCF0;
  --primary-light-active: #85B8EA;
  --primary-dark-active: #2273BF;
  --primary-dark: #1F68AD;

  /* https://coolors.co/1f68ad-2273bf-85b8ea-a8ccf0-bad7f3-f2f5f8 */

  /* background: linear-gradient(white 30%, var(--background-light)); */
  background-image: url("../pic/background/water.jpg");
  /* 將背景圖片大小依視窗大小自動調整 */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#top-title {
  max-height: 90px;
  margin: 8px auto 8px 8px;
}

#top .bx {
  font-size: 1.8em;
  flex: 1;
  position: absolute;
  display: none;
  top: 23px;
  right: 23px;
  cursor: pointer;
}

#top-menu {
  border-radius: 5px;
  padding: 0.5em 1em;
  display: flex;
  gap: 0.4em 3em;
  align-items: center;
  margin-inline: auto 1em;
  flex-wrap: wrap;
}

#top-menu > li {
  list-style: none;
  font-size: 1.2em;
  padding: 4px;
}

#top-banner {
  max-width: 100%;
  margin: auto;
}

#main {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  flex: 1;
}

#bottom {
  padding: 4px;
  /* 選擇輔色 */
  color: var(--text-light);
  background: var(--primary-dark);
  display: grid;
  width: 100%;
  justify-items: center;
  /* 設定透明度為0.7 */
  opacity: 0.7;
}

@media (width < 1500px) {
  #top > .bx-menu {
    display: flex;
  }

  #top-menu {
    position: fixed;
    flex-direction: column;
    top: 64px;
    width: 100%;
    background: white;
    z-index: 2;
    box-shadow: none;
    border-radius: 0;
    transform-origin: top;
    transition: transform 0.25s ease-in-out;
    transform: scaleY(0);
  }

  #top-menu > * {
    transition: opacity 0.1s ease;
    opacity: 0;
  }

  #nav-toggle:checked ~ a {
    position: sticky;
    top: 0;
  }

  #nav-toggle:checked ~ .bx-menu {
    display: none;
  }
  
  #nav-toggle:checked ~ .bx-x {
    display: flex;
  }

  #nav-toggle:checked ~ #top-menu {
    transform: scaleY(1);
  }

  #nav-toggle:checked ~ #top-menu > * {
    transition: opacity 0.1s ease 0.2s;
    opacity: 1;
  }

  #top-banner {
    width: 100vw;
  }

  #bottom {
    font-size: 0.8em;
    text-align: center;
  }
}
